In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/dr.brindha/Downloads/Automobile.csv")

In [5]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [6]:
df.isnull()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
198,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
199,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
len(df)

201

In [8]:
df.dropna()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [9]:
df.isnull().sum()

symboling              0
normalized_losses      0
make                   0
fuel_type              0
aspiration             0
number_of_doors        0
body_style             0
drive_wheels           0
engine_location        0
wheel_base             0
length                 0
width                  0
height                 0
curb_weight            0
engine_type            0
number_of_cylinders    0
engine_size            0
fuel_system            0
bore                   0
stroke                 0
compression_ratio      0
horsepower             0
peak_rpm               0
city_mpg               0
highway_mpg            0
price                  0
dtype: int64

In [11]:
df.shape

(201, 26)

In [14]:
df.to_csv("/Users/dr.brindha/Downloads/Automobile_without_null_values.csv")

In [15]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [19]:
df.iloc[:,:]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [20]:
df.iloc[:5,:]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [21]:
df.iloc[:,:5]

     symboling  normalized_losses         make fuel_type aspiration
0            3                168  alfa-romero       gas        std
1            3                168  alfa-romero       gas        std
2            1                168  alfa-romero       gas        std
3            2                164         audi       gas        std
4            2                164         audi       gas        std
..         ...                ...          ...       ...        ...
196         -1                 95        volvo       gas        std
197         -1                 95        volvo       gas      turbo
198         -1                 95        volvo       gas        std
199         -1                 95        volvo    diesel      turbo
200         -1                 95        volvo       gas      turbo

[201 rows x 5 columns]

In [22]:
df.iloc[:5,:5]

   symboling  normalized_losses         make fuel_type aspiration
0          3                168  alfa-romero       gas        std
1          3                168  alfa-romero       gas        std
2          1                168  alfa-romero       gas        std
3          2                164         audi       gas        std
4          2                164         audi       gas        std

In [23]:
df.iloc[5:,5:]

,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_type,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
5,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,four,sedan,fwd,front,105.8,192.7,71.4,55.7,2844,ohc,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,four,wagon,fwd,front,105.8,192.7,71.4,55.7,2954,ohc,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,four,sedan,fwd,front,105.8,192.7,71.4,55.9,3086,ohc,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,two,sedan,rwd,front,101.2,176.8,64.8,54.3,2395,ohc,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,four,sedan,rwd,front,109.1,188.8,68.9,55.5,2952,ohc,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
197,four,sedan,rwd,front,109.1,188.8,68.8,55.5,3049,ohc,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3012,ohcv,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3217,ohc,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
200,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3062,ohc,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [24]:
df.iloc[:-5, :-5]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,width,height,curb_weight,engine_type,number_of_cylinders,engine_size,fuel_system,bore,stroke,compression_ratio
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,67.2,57.5,3034,ohc,four,141,mpfi,3.78,3.15,9.5
192,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,67.2,56.2,2935,ohc,four,141,mpfi,3.78,3.15,9.5
193,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,67.2,57.5,3042,ohc,four,141,mpfi,3.78,3.15,9.5
194,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,67.2,56.2,3045,ohc,four,130,mpfi,3.62,3.15,7.5
195,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,67.2,57.5,3157,ohc,four,130,mpfi,3.62,3.15,7.5

In [25]:
df.iloc[-5:, -5:]

     horsepower  peak_rpm  city_mpg  highway_mpg  price
196         114      5400        23           28  16845
197         160      5300        19           25  19045
198         134      5500        18           23  21485
199         106      4800        26           27  22470
200         114      5400        19           25  22625

In [26]:
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [27]:
df.loc[:5, :]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,161,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [28]:
df.loc[:5, :"number_of_doors"]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors
0,3,168,alfa-romero,gas,std,two
1,3,168,alfa-romero,gas,std,two
2,1,168,alfa-romero,gas,std,two
3,2,164,audi,gas,std,four
4,2,164,audi,gas,std,four
5,2,161,audi,gas,std,two

In [32]:
df.iloc[::2, ::2]

,symboling,make,aspiration,body_style,engine_location,length,height,engine_type,engine_size,bore,compression_ratio,peak_rpm,highway_mpg
0,3,alfa-romero,std,convertible,front,168.8,48.8,dohc,130,3.47,9.0,5000,27
2,1,alfa-romero,std,hatchback,front,171.2,52.4,ohcv,152,2.68,9.0,5000,26
4,2,audi,std,sedan,front,176.6,54.3,ohc,136,3.19,8.0,5500,22
6,1,audi,std,sedan,front,192.7,55.7,ohc,136,3.19,8.5,5500,25
8,1,audi,turbo,sedan,front,192.7,55.9,ohc,131,3.13,8.3,5500,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,-2,volvo,std,sedan,front,188.8,56.2,ohc,141,3.78,9.5,5400,28
194,-2,volvo,turbo,sedan,front,188.8,56.2,ohc,130,3.62,7.5,5100,22
196,-1,volvo,std,sedan,front,188.8,55.5,ohc,141,3.78,9.5,5400,28
198,-1,volvo,std,sedan,front,188.8,55.5,ohcv,173,3.58,8.8,5500,23
200,-1,volvo,turbo,sedan,front,188.8,55.5,ohc,141,3.78,9.5,5400,25

In [33]:
df.iloc[0:12:2, 0:25:3]

,symboling,fuel_type,body_style,wheel_base,height,number_of_cylinders,bore,horsepower,highway_mpg
0,3,gas,convertible,88.6,48.8,four,3.47,111,27
2,1,gas,hatchback,94.5,52.4,six,2.68,154,26
4,2,gas,sedan,99.4,54.3,five,3.19,115,22
6,1,gas,sedan,105.8,55.7,five,3.19,110,25
8,1,gas,sedan,105.8,55.9,five,3.13,140,20
10,0,gas,sedan,101.2,54.3,four,3.50,101,29

In [35]:
df.loc[0:12:2, "symboling":"highway_mpg":3]

,symboling,fuel_type,body_style,wheel_base,height,number_of_cylinders,bore,horsepower,highway_mpg
0,3,gas,convertible,88.6,48.8,four,3.47,111,27
2,1,gas,hatchback,94.5,52.4,six,2.68,154,26
4,2,gas,sedan,99.4,54.3,five,3.19,115,22
6,1,gas,sedan,105.8,55.7,five,3.19,110,25
8,1,gas,sedan,105.8,55.9,five,3.13,140,20
10,0,gas,sedan,101.2,54.3,four,3.50,101,29
12,0,gas,sedan,101.2,54.3,six,3.31,121,28

In [36]:
df[df["height"]==54.3]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
10,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
11,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
12,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
140,0,102,subaru,gas,std,four,sedan,4wd,front,97.0,...,108,2bbl,3.62,2.64,9.0,82,4800,24,25,9233
141,0,102,subaru,gas,turbo,four,sedan,4wd,front,97.0,...,108,mpfi,3.62,2.64,7.7,111,4800,24,29,11259

In [37]:
df[df["height"]==54.3]["height"]

3      54.3
4      54.3
9      54.3
10     54.3
11     54.3
12     54.3
140    54.3
141    54.3
Name: height, dtype: float64

In [40]:
df[df["height"]==54.3].iloc[:100:1,::1]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
10,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
11,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
12,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105
140,0,102,subaru,gas,std,four,sedan,4wd,front,97.0,...,108,2bbl,3.62,2.64,9.0,82,4800,24,25,9233
141,0,102,subaru,gas,turbo,four,sedan,4wd,front,97.0,...,108,mpfi,3.62,2.64,7.7,111,4800,24,29,11259

In [41]:
(df.iloc[:100:,::1])[df["height"]==54.3]

/var/folders/2l/8s8fysnx6pd92mqmtl6n1fg00000gn/T/ipykernel_42415/3604758168.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  (df.iloc[:100:,::1])[df["height"]==54.3]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
10,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16925
11,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,20970
12,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.0,121,4250,21,28,21105

In [47]:
df_make = df[df["height"]==54.3].iloc[:100:2,::1]["make"]

In [48]:
df_height = df[df["height"]==54.3].iloc[:100:2,::1]["height"]

In [55]:
jsondf = pd.DataFrame({"a":df_make, "b":df_height})

In [58]:
ajson = jsondf.to_json()

In [62]:
ajson

'{"a":{"3":"audi","9":"bmw","11":"bmw","140":"subaru"},"b":{"3":54.3,"9":54.3,"11":54.3,"140":54.3}}'